---
import "../styles/home.css";
---

<!doctype html>
<html class="h-100">
  <head>
    <title>Darkwave | Web application development kit</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="4345c349-059a-42dd-8483-67b7c0730da6"
      async></script>
  </head>
  <!-- <body class="font-sans h-100 bg-neutral-900 text-neutral-100"> -->
  <body class="font-sans h-100 bg-black text-neutral-100">
    <div class="lg:p-20 p-6">
      <div class="lg:text-8xl text-5xl dw-pink font-bold uppercase mb-12 w-2/3">
        YES! YOU CAN BUILD WEB APPLICATIONS WITH ASTRO!
      </div>

      <img class="w-16 mb-2" src="/images/dw-triangles-white.svg" />

      <div class="text-4xl font-semibold uppercase mb-2">Darkwave 0.7</div>

      <div class="text-xl mb-12">Web application development kit</div>

      <div style="max-width: 450px; ">
        Darkwave is a "batteries-included" tool kit for building data-driven web
        applications with Astro.<br /><br />

        We have curated a selection of reliable and approachable tools to create
        a professional-grade full-stack boilerplate with pre-wired functionality
        and components for common SaaS and CRUD features.<br /><br />

        DW facilitates a hyper-productive development workflow, helping
        developers focus on delivering real value with ease.
      </div>

      <br /><br /><br />

      <a
        href="https://github.com/hxgf/darkwave/"
        class="bg-dw-green text-neutral-900 py-2 px-3 rounded no-underline hover:underline text-sm inline-block"
      >
        <span class="flex items-center">
          <svg
            class="w-4 h-4"
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            style="pointer-events: auto;"
          >
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>

          <span class="pl-2">Source</span>
        </span>
      </a><br /><br /><br />

      <a href="/docs" class="underline dw-purple font-semibold">Documentation</a
      > &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="/components" class="underline dw-purple font-semibold"
        >Components</a
      > &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/fieldguide" class="underline dw-purple font-semibold"
        >Field Guide</a
      > &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/resources" class="underline dw-purple font-semibold"
        >Resources</a
      > &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/project/roadmap" class="underline dw-purple font-semibold"
        >Project</a
      >

      <br /><br />
      <br /><br />

      <img src="./images/dw-scriptina.png" class="flex-shrink-0" />
      <br /><br />
      <br /><br />

      Imagine this concept, but for web apps:<br /><br />

      <div class="grid grid-cols-3 gap-1">
        <div class="p-1">
          <img src="./images/modular-vibes-1.webp" class="w-full" />
        </div>
        <div class="p-1">
          <img src="./images/modular-vibes-2.webp" class="w-full" />
        </div>
        <div class="p-1">
          <img src="./images/modular-vibes-3.webp" class="w-full" />
        </div>
        <div class="p-1">
          <img src="./images/modular-vibes-4.webp" class="w-full" />
        </div>
        <div class="p-1">
          <img src="./images/modular-vibes-5.webp" class="w-full" />
        </div>
        <div class="p-1">
          <img src="./images/modular-vibes-6.webp" class="w-full" />
        </div>
      </div>

      <br /><br /><br /><br /><br />

      - [ ] TODO: make a diagram of this:<br /><br />

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <img src="./images/dw-features-rough.png" class="w-full" />

        <img src="./images/dw-features-iso-chat.png" class="w-full" />

        <img src="./images/dw-features-eso-chat.png" class="w-full" />
      </div>

      <br /><br /><br /><br /><br /><br /><br /><br />

      <div class="clearfix">
        <div class="text-xs">
          <div class="mb-4">
            <a
              class="text-white no-underline hover:underline"
              href="https://jyoungblood.github.io/">♥︎ JY</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
