<div class="mb-12">
  <div class="grid grid-cols-2 gap-6">
    <div>
      <div class="border border-white rounded-md">
        <div class="border-b border-white text-center p-2 text-lg">LADO A</div>
        <div class="text-sm p-3">
          <div class="flex justify-between">
            <div>ENERGIA DOS 3 MUNDOS</div>
            <div class="">ze eduardo nazario</div>
          </div>
          <div class="flex justify-between">
            <div>ENERGIA DOS 3 MUNDOS</div>
            <div class="">ze eduardo nazario</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="border border-white rounded-md">
        <div class="border-b border-white text-center p-2 text-lg">LADO B</div>
        <div class="text-sm p-3">
          <div class="flex justify-between">
            <div>ENERGIA DOS 3 MUNDOS</div>
            <div class="">ze eduardo nazario</div>
          </div>
          <div class="flex justify-between">
            <div>ENERGIA DOS 3 MUNDOS</div>
            <div class="">ze eduardo nazario</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full border border-white rounded-md mt-6 bg-neutral-900">
    <div class="px-12 py-48 text-center">PIC HERE</div>
  </div>

  <div class="grid grid-cols-2 gap-6 mt-6">
    <div class="border border-white rounded-md">
      <div class="grid grid-cols-2">
        <div>
          <div class="border-b border-white text-center p-2">
            ZE EDUARDO NAZARIO
          </div>
          <div class="text-sm p-3">
            bateria<br />
            khena do laos<br />
            glockenspiel<br />
            kalimba<br />
            mrindangan<br />
            tabls<br />
            tubofone<br />
            xilofone<br />
            percussao<br />
            voz
          </div>
        </div>
        <div class="border-l border-white">
          <div class="border-b border-white text-center p-2">CONVIVADOS</div>
          <div class="text-sm p-3">
            CACAU<br />
            saxofone tenor<br />
            flauta (A)<br /><br />
            LELO NAZARIO<br />
            oberheim<br />
            piano<br />
            xilofone
          </div>
        </div>
      </div>

      <div class="border-t border-white p-3">
        <div class="flex justify-between items-center">
          <div class="text-xs">
            gravado nos estúdios JV em 23 e 30 de outubro de 1982<br />
            técnicos de aúdio: EDELHO GIANULLO • SERGIO SHAO-LIN<br />
            road manager: ALBERTO "BATATA" MONTEIRO <br />
            foto da capa: ROGERIO SANTOS arte final: SOMETIMES ALWAYS <br /><br
            />
            remasterizado por LELO NAZARIO relançado por LUGAR ALTO (LA-002) em 2019
            <br />distribuido por HONEST JON'S
          </div>
          <div class="pl-8 pr-4">
            <img src="/images/dw-triangles-white.svg" class="h-32 w-auto" />
          </div>
        </div>
      </div>

      <!-- 
              <div class="border-b border-white text-center p-2 text-lg">
                LADO A
              </div>
              <div class="text-sm p-3">
                <div class="flex justify-between">
                  <div>ENERGIA DOS 3 MUNDOS</div>
                  <div class="">ze eduardo nazario</div>
                </div>
                <div class="flex justify-between">
                  <div>ENERGIA DOS 3 MUNDOS</div>
                  <div class="">ze eduardo nazario</div>
                </div>
              </div> -->
    </div>

    <div class="border border-white rounded-md bg-neutral-900">
      <div class="px-12 py-48 text-center text-sm">PIC HERE TOO</div>
    </div>
  </div>
</div>
